body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: Helvetica;
}

header {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #57c25f;
    color: #fff;
}

h1 {
    margin: 1rem 0;
    font-weight: normal;
}

.controls {
    margin-bottom: 1rem;
}

.controls button {
    padding: 1rem;
    width: 200px;
    background-color: #fff;
    border: 3px solid green;
    border-radius: 10px;
}

footer {
    margin-top: auto;
    padding: 0.5rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: #f2f2f2;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.85rem;
}

footer > p {
    margin: 0;
    padding: 0 0.5rem;
}

footer > p:last-child {
    border-left: 1px solid #aaa;
}

footer a {
    color: #7e57c2;
    text-decoration: none;
}

footer a:hover {
    border-bottom: 2px solid #aaa;
}
